:root {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #7a5e5e;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: var(--color-text);
  background-color: var(--color-background-900);
  padding-inline: 6rem;
  padding-block: 2.5rem;

}

/* ******* */




.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.2rem;
  padding: 0 3.2rem;
  background-color: var(--color-primary);
  border-radius: 0.9rem;
  position: relative;
}

.logo {
  position: absolute;
  left: 69px;
  align-items: center;
  gap: 0.8rem;
  display: flex;
}

.main {
  margin-top: 2.4rem;
  height: calc(100vh - 7.2rem - 3 * 2.4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  width: 100%;

}

.box {
  /* width: 42rem; */
  width: 100%;
  /* max-width: 42rem; */
  background-color: var(--color-background-500);
  border-radius: 0.9rem;
  position: relative;
  min-height: 300px;

}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 4.8rem;
}

.error {
  text-align: center;
  font-size: 2rem;
  padding: 4.8rem;
}


.logo span {
  font-size: 3.2rem;
}

.logo h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.search {
  justify-self: center;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 40rem;
  transition: all 0.3s;
  color: var(--color-text);
  /* background-color: var(--color-background-900); */
  background-color: var(--color-primary-light);
}

.search::placeholder {
  color: var(--color-text-dark);
}

.search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
.search-box {
  display: flex;
}
.btn-srch {
  position: relative;
  left: -9px;
  border: none;
  padding: 1.1rem 1rem;
  font-size: 1.8rem;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  transition: all 0.3s;
  color: var(--color-text);
  background-color: var(--color-red);
}

.num-results {
  justify-self: end;
  font-size: 1.8rem;
}

.btn-toggle {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  height: 2.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background-900);
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
}

.temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
}

.change-temp-btn {
  margin-top: -10px;
  justify-self: center;
  border: none;
  padding: 6px;
  font-size: 14px;
  border-radius: 0.7rem;
  width: 23rem;
  transition: all 0.3s;
  color: var(--color-text);
  background-color: var(--color-primary-light);
  cursor: pointer;
}

.change-temp-btn:hover {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.holdUp-theWeaher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
}
.weather-detail {
  font-size: 1.3rem;
    margin-top: 8px;
}
.leaflet-containerCustom {
  display: flex;
  text-align: center;
}
.leaflet-container {
  width: 100vw;
  min-height: 300px;
  border-radius: 1rem;


}

/* ******* */

@media (max-width: 1014px) {
  .logo span {
    display: none;
  }
}

@media (max-width: 920px) {
  .logo {
    display: none;
  }

  .search {
    justify-self: center;
    border: none;
    padding: 1.1rem 1.6rem;
    font-size: 1.8rem;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    width: 23rem;
    transition: all 0.3s;
    color: var(--color-text);
    background-color: var(--color-primary-light);
  }
}
/* 
@media (max-width: 600px) {
  .main {
    margin-top: 18rem;
    height: calc(100vh - 7.2rem - 3 * 2.4rem);
    display: flex;
    gap: 2.4rem;
    align-items: center;
    flex-direction: column;
  }
} */
